.gallery-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;

    @media (max-width: 768px) {
        padding: 0 1rem;
    }

    &__header {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        margin-bottom: 2rem;

        .profile-item {
            max-width: 300px;
            width: 100%;
            flex-shrink: 0;
        }

        @media (max-width: 480px) {
            margin-bottom: 1rem;
            padding: 0 1rem;
        }
    }

    .loader {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
}